* {
  font-family: 'Anton', sans-serif;
}

:root {
  background-image: url(rain.jpg);
  background-size: cover;
  width: 100vw;
  position: relative;
}

.message {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 100px;
}

h1 {
  text-align: center;
  font-size: 70px;
  margin: 0;
}
